# SPDX-FileCopyrightText:  PyPSA-Earth and PyPSA-Eur Authors
#
# SPDX-License-Identifier: CC0-1.0

# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*$py.class
.ipynb_checkpoints

# General untracked file formats
*.log
**/pbf
*.pbf
*.zip

# Untracked files
config.yaml
dag.svg
scripts/__init__.py

# Untracked folders (and files within)
img/
.snakemake/
benchmarks/
cutouts/
data/
data/osm/
data/raw/
data/base_network/
results/summaries/
results/plots/
networks/
resources/
scripts/temp
scripts/test.py
test/tmp/

# Untrack some Jupyter changes
.ipynb_checkpoints
notebooks/*.nc
notebooks/*.csv
notebooks/*.zip
notebooks/*.tif
notebooks/old_notebooks/*.nc
notebooks/old_notebooks/*.csv
notebooks/old_notebooks/*.zip
notebooks/old_notebooks/*.tif

# Untrack test doc builds
doc/_build

# VS code related
.vscode
doc/.vscode/settings.json
.vscode/settings.json
resources/regions_onshore.geojson
resources/regions_offshore.geojson
resources/regions_onshore.geojson
resources/regions_onshore.geojson
resources/regions_offshore.geojson
resources/regions_onshore.geojson
resources/regions_offshore.geojson
