.vscode

# Byte-compiled / optimized / DLL files
**/__pycache__
*.py[cod]
*$py.class

**/.ipynb_checkpoints

*.log

**/pbf
*.pbf


data_exploration/WP5_transmission_assets/data/osm/
data_exploration/WP5_transmission_assets/data/raw/
data_exploration/WP5_transmission_assets/data/base_network/

doc/_build
