# SPDX-FileCopyrightText:  PyPSA-Earth and PyPSA-Eur Authors
#
# SPDX-License-Identifier: AGPL-3.0-or-later

name: pypsa-earth
channels:
- conda-forge
- bioconda
- gurobi
dependencies:
- python>=3.8
- pip
- mamba   # esp for windows build

- pypsa>=0.25
# - atlite>=0.2.4  # until https://github.com/PyPSA/atlite/issues/244 is not merged
- dask
# currently the packages are being installed with pip
# need to move back to conda once the issues will be resolved
- powerplantmatching>=0.5.19
- earth-osm>=2.3.post1
- atlite>=0.3

# Dependencies of the workflow itself
- xlrd
- openpyxl
- seaborn
- snakemake-minimal<8
- memory_profiler
- ruamel.yaml<=0.17.26
- pytables
- pyscipopt # added to compy with the quadratic objective requirement of the clustering script
- lxml
- numpy
# starting from 1.3.5 numpoly requires numpy>2.0 which leads to issues
- numpoly<=1.3.4
- pandas
- geopandas>=1
- fiona>=1.10
- xarray>=2023.11.0, <2023.12.0
- netcdf4
- networkx
- scipy
- pydoe2
- shapely!=2.0.4
- pre-commit
- scip!=9.2.0  # dependency of pyscipopt, temporary fix
- matplotlib<=3.5.2
- reverse-geocode
- country_converter
- pyogrio
- numba
- py7zr
- tsam>=1.1.0

# Keep in conda environment when calling ipython
- ipython
# Jupyter notebook requirement
- ipykernel
- jupyterlab

# GIS dependencies:
- cartopy
- descartes
- rasterio!=1.2.10, <=1.3.11
- rioxarray

# Plotting
- geoviews
- hvplot
- graphviz
- contextily
- graphviz

# PyPSA-Eur-Sec Dependencies
- geopy
- tqdm
- pytz
- country_converter

# Cloud download
# - googledrivedownloader  # Commented until https://github.com/ndrplz/google-drive-downloader/pull/28 is merged: PR installed using pip

# Default solver for tests (required for CI)
- glpk
- gurobi

- pip:
  - git+https://github.com/davide-f/google-drive-downloader@master  # google drive with fix for virus scan
  - chaospy  # lastest version only available on pip
  - fake_useragent
  - currencyconverter
